* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.done-recipes-categories {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 75px 0 15px;
}

.done-recipes-categories > button {
  background-color: #701d28;
  border: none;
  border-radius: 6px;
  color: #fdfffc;
  height: 40px;
  width: 100px;
}

.done-recipes-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.done-recipes-card {
  border-radius: 6px;
  display: flex;
  height: 160px;
  margin-bottom: 12px;
  width: 90%;
}

.done-recipes-card > button {
  border: none;
  width: 50%;
}

.done-recipes-card img {
  border-radius: 6px 0 0 6px;
  height: 100%;
  width: 100%;
}

.done-recipes-card > div {
  background-color: rgb(238, 230, 238);
  border-radius: 0 6px 6px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 5px 10px;
  position: relative;
  width: 50%;
}

.done-recipes-card > div p {
  font-size: 0.9rem;
  margin: 0;
}

.done-recipes-card > div p:first-child {
  font-size: 1rem;
  max-width: 11ch;
}

.done-recipes-card > div .tag {
  align-self: baseline;
  background-color: thistle;
  border-radius: 6px;
  font-size: 0.9rem;
  margin: 2px;
}

.done-recipes-card > div button {
  background: none;
  border: none;
  font-size: 1.2rem;
  font-weight: 700;
  width: 100%;
}

.done-recipes-share-icon {
  position: absolute;
  right: 10px;
  top: 10px;
}
