* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.done-recipes {
  background-color: rgb(12, 11, 11);
  min-height: 100vh;
  opacity: 95%;
}

.done-recipes-categories {
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  padding: 75px 0 5px;
}

.done-recipes-categories > button {
  background-color: transparent;
  border: 1px solid #d87d49af;
  border-radius: 6px;
  box-shadow: 0 0 5px 1px #ce841544;
  color: #b6b6b6;
  font-family: Malvie Trial , sans-serif;
  height: 35px;
  margin-bottom: 10px;
  outline: none;
  padding: 5px;
  width: 25%;
}

.done-recipes-cards-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.done-recipes-card {
  background-image: url('/static/media/background-header-footer.96c51865.png');
  border-radius: 6px;
  color: #fdfffc;
  display: flex;
  height: 160px;
  margin-bottom: 12px;
  width: 90%;
}

.done-recipes-card .img-container {
  border: none;
  width: 50%;
}

.done-recipes-card .img-container img {
  border-radius: 6px 0 0 6px;
  height: 100%;
  width: 100%;
}

.done-recipes-info {
  border-radius: 0 6px 6px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 5px 10px;
  position: relative;
  width: 50%;
}

.done-recipes-info p {
  font-size: 0.9rem;
  margin: 0;
}

.done-recipes-info p:first-child {
  font-size: 0.9rem;
  max-width: 11ch;
}

.done-recipes-info .tag {
  align-self: baseline;
  background-color: thistle;
  border-radius: 6px;
  font-size: 0.9rem;
  margin: 2px;
  padding: 1px 5px;
}

.done-recipes-name {
  background: none;
  border: none;
  color: #fdfffc;
  font-size: 0.9rem;
  font-weight: 700;
  text-decoration: none;
  width: 100%;
}

.done-recipes-share-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
}

.tags-container {
  overflow: hidden;
}
