@font-face {
  font-family: Malvie Trial;
  src: url('./fonts/Malvie\ Trial.otf') format('opentype');
}

@font-face {
  font-family: Ovsyanka-press;
  src: url('./fonts/Ovsyanka-press.ttf') format('opentype');
}

.ctn-explore {
  align-items: center;
  background-image: url('../images/background-explore.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 -50px 20px 0 rgba(36, 33, 33, 0.664);
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100vh;
  justify-content: center;
  opacity: 95%;
}

.ctn-explore button {
  background-color: rgba(17, 17, 17, 0.897);
  border: 1px solid #d87d49af;
  border-radius: 6px;
  box-shadow: 0 0 5px 1px #ce841544;
  color: #cfcfcf;
  font-family: Ovsyanka-press , sans-serif;
  font-size: 1.3em;
  padding: 15px;
  width: 70%;
}

.exploreDrink {
  margin-top: 150px;
}

.exploreFood {
  margin-top: 150px;
}

.exploreFoodIngredient {
  margin-top: 150px;
}

.exploreDrinkIngredient {
  margin-top: 150px;
}

.cardIngrediente {
  background-color: #fafafa;
  border: none;
  border-radius: 6px;
  box-shadow: -6px 4px 20px 1px rgb(0 0 0 / 25%);
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-between;
  width: 150px;
}

.exploreByArea {
  margin-top: 60px;
}
