* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

footer {
  background-image: url('../images/background-header-footer.png');
  bottom: 0;
  display: flex;
  justify-content: space-around;
  padding: 12px;
  position: fixed;
  width: 100%;
}

footer input {
  height: 40px;
  width: 40px;
}
