@font-face {
  font-family: Malvie Trial;
  src: url('./fonts/Malvie\ Trial.otf') format('opentype');
}

.ctn-card-recipes {
  background-color: #fdfffc;
  box-shadow: inset 0 -50px 10px 0 rgba(36, 33, 33, 0.664);
  display: flex;
  flex-wrap: wrap;
  gap: 15px 0;
  justify-content: space-evenly;
  margin: 58px 0;
  padding: 15px 0;
}

.card-recipes {
  background-color: #fafafa;
  border-radius: 6px;
  box-shadow: 5px 5px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-between;
  width: 150px;
}

.card-recipes img {
  border-radius: 6px 6px 0 0;
  box-shadow: 0 10px 16px 5px rgba(255, 255, 255, 0.534);
  max-height: 100px;
  object-fit: cover;
  object-position: center 7%;
  width: 100%;
}

.card-recipes span {
  color: #ad2a25;
  font-family: Malvie Trial , sans-serif;
  font-size: 18px;
  padding: 0 0 10px 10px;
}
